{% extends "base.html" %}

{% block title %}Fundstrap{% endblock %}

{% block content %}

<div class="container">
  <div class="masthead">
    <h3 class="muted">Fund$trap</h3>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li><a href="#product">Product</a></li>
            <li><a href="#mission">Mission</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="product" class="jumbotron">
    <h1>A Platform For Interest Groups &amp; Sponsors.</h1>
    <p class="lead">Fundstrap helps raise funding for interest groups by providing a platform which improves the process of matching sponsors/donors with desirable interest groups.</p>
    <a class="btn btn-large btn-success" href="#">Subscribe</a>
    <h5 class="muted">Interested? <u>Subscribe</u> to us and stay tuned!</h5>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <div class="span4">
            <div class="large-icon"><span class="glyphicons parents"><i></i></span></div>
        </div>
        <div class="span8">
            <h2>Matching</h2>
            <p>Fundstrap acts as an aggregator for all interest groups and sponsors with their detailed profiles, allowing them to get matched with desirable parties.</p>
        </div>
      </div>
    </div>
    <div class="span6">
        <div class="row-fluid">
        <div class="span4">
            <div class="large-icon"><span class="glyphicons fast_forward"><i></i></span></div>
        </div>
        <div class="span8">
            <h2>Workflow</h2>
            <p>Fundstrap provides a smooth workflow for fundraising, as well as features to conveniently and effectively manage and keep track of sponsorships, ensuring the synchronization of fundraising workflow between interest groups and sponsors.</p>
        </div>
      </div>
   </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
        <div class="row-fluid">
        <div class="span4">
            <div class="large-icon"><span class="glyphicons group"><i></i></span></div>
        </div>
        <div class="span8">
            <h2>Collaboration</h2>
            <p>Emcompassing crowdfunding capabilities, Fundstrap allows the collaboration between multiple interest groups and multiple sponsors to effectively gather enough funding for a single big event or cause.</p>
        </div>
      </div>
    </div>
    <div class="span6">
        <div class="row-fluid">
        <div class="span4">
            <div class="large-icon"><span class="glyphicons shield"><i></i></span></div>
        </div>
        <div class="span8">
            <h2>Protection</h2>
            <p>Fundstrap protects sponsors with a rating and feedback system on the capability and credibility of listed interest groups. Sponsors can also apply for a percentage of “refund” through our platform, if the interest groups did not fulfil their initial expectations.</p>
        </div>
      </div>
    </div>
  <div class="row-fluid">
    <div class="span6">
        <div class="row-fluid">
        <div class="span4">
            <div class="large-icon"><span class="glyphicons eye_open"><i></i></span></div>
        </div>
        <div class="span8">
            <h2>Privacy</h2>
            <p>Interest groups and sponsors can share their detailed information without worrying about leaking sensitive information, because Fundstrap offers high level security and different privacy options, so that only relevant and safe information will be shared among users.</p>
        </div>
      </div>
   </div>
    <div class="span6">
        <div class="row-fluid">
        <div class="span4">
            <div class="large-icon"><span class="glyphicons stats"><i></i></span></div>
        </div>
        <div class="span8">
            <h2>Analytics</h2>
            <p>Fundstrap is able to record numerous metrics for interest groups and sponsors, so that they can use these crucial data to improve their organizations.</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h1 id="mission">What Problems Are We Solving?</h1>
  <br />
  <p>Interest groups often <b>lack funding</b> to bring higher quality experience to their members or to fulfill their cause.<p>
  <p>There is not one online system where sponsorships for interest groups can be conveniently <b>recorded</b> and <b>managed</b>. Sometimes there can be <b>inconsistencies</b> between the sponsorship agreements between interest groups and their sponsors or even <b>miscommunications</b> leading to the loss of sponsorships.</p>
  <p>There is not one place where interest groups and sponsors/donors can <b>share</b> their detailed information with the <b>appropriate privacy options</b>, which allows them to be effectively <b>paired</b> according to their preferences.</p>
  <p><b>Cost</b> of running public relations for sponsorships can be very high, especially since a lot of interest groups are non-profitable, and it may require a lot of <b>time</b> and <b>energy</b> for the groups’ members to attract sponsors.</p>
  <br />
  <h1>Who Are Our Customers?</h1>
  <br />
  <p>Interest groups, such as campus clubs, charitable organizations, sports teams who are looking for sponsorships. Restaurants, vendors, service providers, and other types of businesses who are willing to sponsor events or causes. Individuals or organizations who want to invest to make a difference on their community.</p>
  <br />
  <h1>What is Our Mission?</h1>
  <br />
  <p>Our mission is to present a professional and high quality platform which brings together interest groups and sponsors/donors. We aim to provide top-notch services for sponsorship matching, sponsorship management, crowdfunding, privacy, and protecting the benefits of all parties. Fundstrap will be the ONE hub for all interest groups and sponsors/donors.</p>
  <hr />
  <h1 id="team">Our Team</h1>
  <br />
  <div class="row-fluid">
    <div class="span4">
        <h2>Sean Li</h2>
        <h4>Founder &amp; CEO</h4>
        <p>
            Sean is a 4B Software Engineering student from the University of Waterloo. He has a variety of professional experiences ranging from startups in the Silicon Valley to larger corporations in Toronto. Having experienced with numerous job positions, he is knowlegeable in all business, management and technical areas.
        </p>
    </div>
    <div class="span4">
        <h2>Max Huang</h2>
        <h4>Co-Founder &amp; Marketing Director</h4>
        <p>
            Max is a 4B student in Speech Communication from the University of Waterloo. He is the business and marketing co-founder of our company. He is very creative and often come up with innovative visions and is talented in attracting users and maintaining public relations.
        </p>
    </div>
    <div class="span4">
        <h2>Jeremy Pian</h2>
        <h4>Co-Founder &amp; Technical Director</h4>
        <p>
            Jeremy is a 4B Software Engineering student from the University of Waterloo. He is the core developer and engineer of our company. He is also an invaluable asset to the company with his solid software developing capabilities as well as his success driven personality to motivate the other members in the company.
        </p>
    </div>
  </div>
  <hr />
  <h1 id="contact">Any Questions or Feedbacks?</h1>
  <br />
  <p>Please send an e-mail to our CEO at: <b>sean@schoolax.com</b></p>
  <hr />
  <div class="footer">
    <p>Copyright 2013 &copy; Schoolax Inc.</p>
  </div>
</div>

{% verbatim %}

<div ng-controller="Chat">
  <div>
    <label for="">Your name: </label><input type="text" ng-model="username">
  </div>
  <p></p>
  <div id="messagesDiv" style="height:500px;">
    <div ng-cloak ng-repeat="message in messages">
      <em>{{message.from}}: </em>{{message.content}}
    </div>
  </div>
  <form ng-submit="addMessage()">
    <input type="text" ng-model="message" placeholder="Message...">
    <input type="submit" id="submit" value="Send" style="font-size:24px;">
  </form>
</div>

{% endverbatim %}

<script>

$(document).ready(function() {
    $("a[href^='#']").click(function() {
        $('html,body').animate({
            scrollTop: '+=' + $($(this).attr("href")).offset().top + 'px'
        }, 1000);
    })
});

</script>

{% endblock %}
