{% extends "base.html" %}

{% block title %}Oh Boss{% endblock %}

{% block content %}

<div id="friend-list">
</div>

<script>

$(document).ready(function() {
    $.ajax({
        type: 'POST',
        url: '/api/friend/list/',
        success: function(data) {
            for(var i = 0; i < data.friend_list.length; i++) {
                $('#friend-list').append('<div><img src="https://graph.facebook.com/' + data.friend_list[i].id + '/picture?type=small&width=50&height=50">' + data.friend_list[i].name + '</div>');
            }
        }
    })
});

</script>

{% endblock %}
